appdirs==1.4.3
astroid==2.0.4
attrs==18.2.0
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
black==18.9b0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
dnspython==1.15.0
flake8==3.6.0
Flask==1.0.2
Flask-Session==0.3.1
Flask-SocketIO==3.0.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==19.9.0
idna==2.7
isort==4.3.4
itsdangerous==1.1.0
Jinja2==2.10
lazy-object-proxy==1.3.1
MarkupSafe==1.1.0
mccabe==0.6.1
monotonic==1.5
passlib==1.7.1
pexpect==4.6.0
psycopg2==2.7.6.1
ptyprocess==0.6.0
pycodestyle==2.4.0
pyflakes==2.0.0
pylint==2.1.1
python-engineio==2.3.2
python-socketio==2.0.0
requests==2.20.0
six==1.11.0
SQLAlchemy==1.2.14
submit50==2.4.9
termcolor==1.1.0
toml==0.10.0
urllib3==1.24
virtualenv==16.1.0
Werkzeug==0.14.1
wrapt==1.10.11
WTForms==2.2.1
