<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Chat Away - RChat</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Custom css for chat pages -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/chat_style.css') }}">
    </head>

    <body>
        <!-- Flash error messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p class=formError>{{ messages[0] }}</p>
            {% endif %}
        {% endwith %}

        <div class="wrapper">

            <!-- Nav bar start -->
            <nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color: #66a1ee">

                <div class="container-fluid">
                    <div id="show-sidebar-button" class="cursor-pointer">
                        <i class="fas fa-plus-circle "></i>
                        <span>Rooms</span>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a id="logout-btn" class="nav-link" href="{{ url_for('logout') }}"><span style="color: #335177">Logout</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Nav bar end -->

            <!-- Main section start -->
            <div id="main-section">

                <!-- Sidebar start -->
                <nav id="sidebar">
                    <h4>Rooms</h4>
                    {% for room in rooms %}
                        <p id="{{ room|title }}" class="select-room cursor-pointer">{{ room|title }}</p>
                    {% endfor %}
                </nav>
                <!-- Sidebar end -->

                <!-- Rightside pannel start -->
                <div id="rightside-pannel">

                    <!-- Display message start-->
                    <div id="display-message-section">
                    </div>
                    <!-- Display message end -->

                    <!-- Type message start -->
                   <div id="input-area" class="input-group mb-3">
                        <input type="text" id="user_message" class="form-control" placeholder="Type here..." aria-label="Type a message" aria-describedby="basic-addon2" autocomplete="off">
                        <div class="input-group-append">
                            <button id="send_message" class="btn btn-warning" type="button">SEND <i class="fas fa-paper-plane"></i></button>
                        </div>
                    </div>
                    <!-- Type message end -->
                </div>
                <!-- Rightside pannel end -->
            </div>
            <!-- Main section end -->
        </div>
        <!-- Wrapper end -->

        <!-- Get username -->
        <span id="get-username">{{ username }}</span>

        <!-- Custom chat JS -->
        <script src="{{ url_for('static', filename='scripts/chat_page.js') }}"></script>

        <!-- SocketIO JS -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <!-- Custom SocketIO JS -->
        <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>

        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    </body>
</html>
