{% from 'field-macro.html' import displayField %}
{% extends "prelogin-layout.html" %}

{% block title %}Register {% endblock title%}

{% block content %}
        <h2>Get started!</h2>
        <p>First time here? Register to start using Rchat</p>

        <form action="{{ url_for('index') }}", method="POST">
            {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true) }}
            {{ displayField(form.password, 'Password') }}
            {{ displayField(form.confirm_pswd, 'Retype Password') }}
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-warning">
            </div>
            {{ form.csrf_token }}
        </form>

        <hr>

        <p>Already registered? <a href={{url_for('login')}}>Login here</a>.</p>
{% endblock %}
