
.wrapper {
    display: flex;
}

#main-section {
    overflow: hidden; /* Makee this div contain its floated children */
    width: 100%;
}

#sidebar {
    margin-top: 2em;
    float: left; /* Make this div as wide as its contents */
    min-height: 96vh;
    padding-left: 1em;
    padding-top: 3em;
    padding-right:1em;
    border-right: 0.5px solid #898c91;
}

#sidebar p {
    padding-left: 2em;
    padding-right:2em;
}

#sidebar p:hover {
    background-color: #ffc107;
}

#sidebar h4 {padding-left: 0.5em;}


#sidebar.view-sidebar {display: none;}

#show-sidebar-button {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    color: #335177;
}

@media (max-width: 567px) {
    #sidebar {
        display: none;
    }

    #sidebar.view-sidebar {
        display: block;
    }

    #show-sidebar-button {
        visibility: visible;
        opacity: 1;
    }
}


.cursor-pointer {
    cursor: pointer;
}

#rightside-pannel {
    overflow: hidden; /* Make this div take up the rest of the horizontal space, and no more */
}

#display-message-section {
    margin-top: 5em;
    min-height: 82vh;
    max-height: 82vh;
    overflow-y: auto; /*Make  this section scrolable */
}

#input-area {
    padding-left: 1em;
    padding-right: 1em;
    bottom: 0;
}

input[type=text]:focus{
    border-color: #ffc107;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px #ffc107;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.others-msg {
    margin-right:7em;
    margin-left: 1em;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 5px;
    border-color: grey;
    border-width: 0.5px;
    border-style: solid;
    background-color: #C2DBFB;
    /* animation */
    animation-name: fadeIn;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.my-msg {
    margin-left:7em;
    margin-right:1em;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 5px;
    border-color: #206ED2;
    border-width: 1px;
    border-style: solid;
    /* animation */
    animation-name: fadeIn;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.system-msg {
    margin-right:7em;
    margin-left: 1em;
    padding: 0.5em 0.5em 0.5em 1em;
    color: #656d78;
    font-size:0.9em;
}

.timestamp {
    color: #656d78;
    font-size:0.7em;
}

.other-username {
    font-weight: bold;
    font-size: 1.1em;
    color: #206ED2;
}

.my-username {
    font-weight: bold;
    font-size: 1.1em;
    color: #FF6B13;
}

#msg-input {
    border-color: #ffc107;
    border-width: 5px;
}

#get-username {
    display: none !important;
}
